<!DOCTYPE html>
        {% load static from staticfiles %}
<html>
<head>
    <title>My Company</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/css/sticky.css' %}" rel="stylesheet">
</head>
<body>

<div class="jumbotron">
    <div class="container">
        <h1>Welcome to <span style="color: #00ADEF;">{{ c_name }}</span>!</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h5><a href="{% url 'users:index' %}">Users Page</a></h5>
            <h5><a href="{% url 'polls:index' %}">Polls Page</a></h5>
        </div>
    </div>
</div>

<div id="footer">
    <div class="container">
        <p>&copy; <b>{{ c_name }}</b> {{ year }}</p>
    </div>
</div>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>